.sub .inner_container {
  height: calc(100vh - 80px);
  padding: 10% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sub .inner_container p{
  text-align: center !important;
}
.sub .inner_container > p:first-child{
  font-size: 6.3vw !important;
}
.sub .inner_container p:nth-of-type(2){
  margin-top: 3%;
  font-size: 1.5vw;
  font-weight: 900;
}
.sub .inner_container p:nth-of-type(3){
  margin-top: 1%;
  font-size: 0.8vw;
}
.sub .inner_container p:last-of-type{
  padding-top: 5%;
  font-size: 0.7vw;
}